html {
  font-size: 52.5%;
  height: 100%;
}

@media(min-width: 544px) {
  html {
    font-size: 62.5%;
  }
}

@media(min-width: 768px) {
  html {
    font-size: 72.5%;
  }
}

body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  color: #0f0f2d;
  background: #f3f3f3;
  font-family: Roboto, Helvetica Neue, sans-serif;
}
